.dark-text{
    color: white;
}
.light-text{
    color: black;
}



.container{
    padding-top:5px;
    border: 1px solid black;
}


.dark{
    background-color: black;
    color: white;
}
.dull{
    background-color: cadetblue;
}
.bright{
    background-color: yellow;
}

.dark-border{
    border: 1px solid white;
}

.middle-container{
    margin-top: 50px;;
}

.hovering:hover{
    border:1px solid grey;
}